/* Fonts */

/* Ubuntu */
//@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,500");

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-webfont.eot');
    src: url('../fonts/Ubuntu-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu-webfont.woff') format('woff'),
         url('../fonts/Ubuntu-webfont.ttf') format('truetype'),
         url('../fonts/Ubuntu-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu-regular';
    src: url('../fonts/Ubuntu-regular-webfont.eot');
    src: url('../fonts/Ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu-regular-webfont.woff') format('woff'),
         url('../fonts/Ubuntu-regular-webfont.ttf') format('truetype'),
         url('../fonts/Ubuntu-regular-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-m-webfont.eot');
    src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-m-webfont.woff') format('woff'),
         url('../fonts/ubuntu-m-webfont.ttf') format('truetype'),
          url('../fonts/ubuntu-m-webfont.svg#ubuntumedium') format('svg');

         
    font-weight: normal;
    font-style: normal;

}